
.skills-section__icon {
    padding: 0;
    width: 120px;
    transition: all 0.2s;
  }
  .skills-section__icon:hover {
    transform: scale(1.2);
  }
  @media (max-width: 768px){
    .skills-section__icon {
      width: 90px;
    }
  }