.projects {
    padding: 100px 0px;
    text-align: center;
  }
  .projects-text {
    font-size:clamp(1.563rem, 1.403rem + 0.8vw, 2rem);
    line-height: 26px;
    font-family: "Poppins", regular;
    margin-bottom: 100px;
  }
  
  @media (max-width: 767px) {
    .projects {
      padding: 50px 0px;
    }
    .projects-title {
      line-height: 50px;
      margin-bottom: 30px;
    }
    .projects-text {
      margin-bottom: 70px;
    }
    
  }