.header{
    z-index: 2;
    width: 100%;
    padding: 20px 0 0;
}   
.header-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.wrapper-menu{
    display: flex;
    align-items: center;
    gap: 30px;
}

.btn-burger{
    z-index: 10;
    background: inherit;
    border: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
}
.btn-burger span,
.btn-burger span::before,
.btn-burger span::after{
    content: '';
    display: block;
    height: 2px;
    width: 30px;
    background: var(--color-burger-menu-default);
    transition: all .2s;
}
.btn-burger span{
    position: relative; 
}
.btn-burger span::before{
    position: absolute;
    top: 7px;   
}
.btn-burger span::after{
    position: absolute;
    bottom: 7px;    
}
.open span{
    background: transparent;
}
.open span::before{
    top: 0px;
    transform:rotate(-45deg);
}
.open span::after{
    bottom: 0px;
    transform: rotate(45deg);        
}
.lock{
    overflow: hidden;
}


@media (max-width: 1024px){
    .btn-burger{
        display: flex;
    }
    .wrapper-menu{
        transition: all 0.4s;
        background: rgba(66, 68, 110, 1);
        position: fixed;
        width: 100%;
        max-width: 600px;
        height: 100vh;
        top: 0;
        left: -100%;
        flex-direction: column;
        padding: 40px 0;
    }
    .menu-active{
        left: 0;
    }
}
