.logo{
    text-decoration: none;
    background: linear-gradient(160deg,var(--gradient-text));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: "Poppins", bold;
    font-weight: 600;
    font-size: clamp(1.25rem, 0.909rem + 1.7vw, 2.188rem);

}