.skills-section {
    padding: 100px 0px;
    text-align: center;
  }
  .skills-section__text {
    font-size: clamp(1.563rem, 1.403rem + 0.8vw, 2rem);
    line-height: 26px;
    font-family: "Poppins", regular;
    margin-bottom: 140px;
  }
  .skills-section__lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
  }
  
  
  @media (max-width: 767px) {
    .skills-section {
      padding: 50px 20px;
    }
    .skills-section__title {
      line-height: 50px;
      margin-bottom: 30px;
    }
    .skills-section__text {
      margin-bottom: 70px;
      line-height: 35px;
    }
    .skills-section__lists {
      gap: 20px;
    }
  }