*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --gradient-text: rgba(19, 176, 245, 1),rgba(231, 15, 170, 1);
    
    --color-heading-light: rgba(66, 68, 110, 1);
    --color-heading-dark: rgba(217, 217, 217, 1);
    --color-heading-default: var(--color-heading-light);

    --body-background-dark: rgba(25, 25, 25, 1);
    --body-background-light: rgba(245, 245, 245, 1);
    --body-background-default: var(--body-background-light);
    

    --color-content-dark: rgba(167, 167, 167, 1);
    --color-content-light:   rgba(102, 102, 102, 1);
    --color-content-default: var(--color-content-light);

    --background-card-dark: rgba(54, 54, 54, 1);
    --background-card-light: rgba(255, 255, 255, 1);
    --background-card-default: var(--background-card-light);

    --color-card-title-dark: rgba(204, 204, 204, 1);
    --color-card-title-light: rgba(0, 0, 0, 1);
    --color-card-title-default: var(--color-card-title-light);

    --color-card-text-dark: rgba(204, 204, 204, 1);
    --color-card-text-light: rgba(102, 102, 102, 1);
    --color-card-text-default: var(--color-card-text-light);

    --color-burger-menu-light: rgba(25, 25, 25, 1);
    --color-burger-menu-dark: rgba(245, 245, 245, 1);
    --color-burger-menu-default: var(--color-burger-menu-light);

    --background-divider-dark: rgba(66, 68, 110, 0.3);
    --background-divider-light: rgba(167, 167, 167, 0.3);
    --background-divider-default: var(--background-divider-light);
}
body{
    background: var(--body-background-default);
}


ul{
    list-style: none;
}
h2{
    color: var(--color-heading-default);
    font-size: clamp(2.188rem, 1.892rem + 1.48vw, 3rem);
    line-height: 26px;
    font-family: 'Poppins', bold;
    margin-bottom: 50px;
}
p{
    color: var(--color-content-default);
}

.accent{
    background: linear-gradient(160deg,var(--gradient-text));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
}


