.toggle-theme{
    position: relative;
    width: 50px;
    height: 24px;
    
}
.toggle-theme__input{
    height: 0;
    width: 0;
    opacity: 0;
}

.toggle-theme__slider{
    transition: all 0.2s;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(196, 186, 186);
}
.toggle-theme__slider::before{
    content: '';
    transition: all 0.2s;
    position: absolute;
    border-radius: 10px;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    width: 25px;
    background: white;
}

.toggle-theme__input:checked + .toggle-theme__slider::before{
    transform: translateX(26px);
}

.icon-moon,
.icon-sun{
    width: 20px;
    height: 20px;
    
}
.icon-moon{
right: 0;
}
.icon-sun{
    left: 0;
}